
/* reset styles */

* {
	margin: 70px;
	padding: 0px;
}

/* begin styles */

body {
	color: green;
	background: black url("Untitled-3.3shape copy.pdf") no-repeat  center;
	background: black url 

}

a, a:visited {
  color: red;
}


a:hover {
  color: green;
}


body.colorful {

	background: purple;
	border: double;
	
	

    
}
