
/* reset styles */

* {
	margin: 70px;
	padding: 0px;
}

/* begin styles */

body {
	color: green;
	background: black url("jeiko copy.gif") no-repeat  center;
	

}

a, a:visited {
  color: red;
}


a:hover {
  color: green;
}


body.colorful {

	background: purple;
	border: double;
	
	

    
}
