
/* reset styles */

* {
	margin: 70px;
	padding: 0px;
	left: 
}

/* begin styles */

body {
	color: green;
	background: black url("jeiko copy.gif")   center;
	

}
body{
	font-family: futura
}

a, a:visited {
  color: red;
}


a:hover {
  color: green;
}


body.colorful {



	background: black;
	border: double;
	 
	
	
	

    
}
