
body {
  background: url(https://media.giphy.com/media/Ph0oIVQeuvh0k/giphy.gif);
}
a{ color: orange;

}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-columns: auto auto auto auto;  
 /* grid-template-columns: auto auto auto;*/
  /*grid-template-rows: 700px 700px 700px;*/
  grid-gap: 10px 40px;
   border: 5px solid black;
   
}

.grid-container > div {
  display: grid;
  grid-gap: 5px;
  background-color: white;
  padding: 20px;
  font-family: ComicSansMS;
  font-size: 50px;
   border: 5px solid black;
}

.grid-item {
  background-color: white;
  border: 5px solid orange;
  font-family: ComicSansMS;
  
}
/*
#item-1 {
  background: white;
  grid-column-start: 300;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 6;       
}
*/
/*.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  font-family: ComicSansMS;
}*/

/*.item1 { 
  grid-area: header;

}*/

/*.scale{
  position:absolute;
  width:200px;
  top:300px;
  left:400px;
  height: auto;
  opacity: 0;
}
*/
.container >img:nth-child(even){
  display: none;
}

.container:hover >img:nth-child(even){
  display: block;
}

.container:hover >img:nth-child(odd){
  display: none;
}

/* for images in links */

.container a {
  display: block;
}

.container a > img:nth-child(even){
  display: none;
}

.container a:hover > img:nth-child(even){
  display: block;
}

.container a:hover > img:nth-child(odd){
  display: none;
}


/*.sill{
  z-index: 9999;
  opacity: 1;
}

.sill:hover{
  opacity: 0;
}

.color{
  z-index: 8888;
  opacity: 0;
}

.sill:hover ~.color{
  z-index: 8888;
  opacity:1;
}*/

img{
  pointer-events: none;
  z-index:99999;
}

/*.item2 { 
  grid-area: The Coldesac;
}

.item3 {
 grid-area: Campers; 

}

.item4 {
 grid-area: Tree House; 
}

.item5 { 
  grid-area: footer; 
}*/

a:hover {
  color: green;
}







/*img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}*/






