/* reset styles */
/** {
        margin: 0px; padding: 0px;
}*/

/* make the background of the page black */
/*body {
        background: black;
}*/

/* flag canvas */
/*#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: green;
}*/

/* shapes */
/*#circle {
        width: 150px;
        height: 150px;
        background: blue;
        border-radius: 75px;
}*/

/* reset styles */

/* reset styles */
/** {
        margin: 0px; padding: 0px;
}*/

/* make the background of the page black */
/*body {
        background: black;
}*/

/* flag canvas */
/*#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: green;
}*/

/* shapes */
/*#circle {
        width: 150px;
        height: 150px;
        background: blue;
        border-radius: 75px;
}*/

/* reset styles */



div.a {
width: 50px;
height:50px;
 background-color:red;
position:fixed;
    
}

<html>
<body>

body { 
background: url( https://media.giphy.com/media/KVZWZQoS0yqfIiTAKq/giphy.gif); 
}



<h2>JavaScript Math</h2>

<p>Math.floor(Math.random(1) * 100)) returns a random integer between 1 and 99 
(both included):</p>

<p id="demo"></p>

<script>
document.getElementById("demo").innerHTML =
Math.floor(Math.random(1) * 100);
</script>



</body>
</html>