.custom {
  cursor: url(tattoomouse.png), auto;
}

body {
  background: darkred;
  font-family: "futura bold", sans-serif; 
  font-weight: 300;
  text-align: left;
  padding-top: 10px;
  color: white;
}
h1 {
  font-size: 1.75em;
}
canvas {
  background: #fff;
  display: block;
  margin: 30px auto 20px;
 
  cursor: url(../tattoomouse-1.png), crosshair;
}